
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
 
html {
font-family: 'Roboto', sans-serif;
background: #F4F6FC;
/*font-weight: bold;*/
color: #514D67;
margin: 0; 
padding: 0;
}

body{
    box-sizing: border-box;
}

h1{
    color: #292E47;
}

/*header section*/
.header { 
    width: 100%;
    display: flex;
    justify-content: space-around;
    height:auto;
    margin-bottom: 50px;
  }
  .logo { 
    width: 120px;
    height: 24px;
    margin-top: 25px;
  }

  .burgerMenuShow{
      display:none !important;
  }

 .logo img {
width:100%;
 }
  .menu { 
    height: auto;
    display: flex;
    /*align-content: center;
    /*align-items: flex-end;*/
    justify-content: space-between;
    align-content: space-between;
  }

  .nav{
    margin-top: 30px;
  }
  .nav a {
    height: 40px;
    display: inline-flex;
    text-decoration: none;
    color: #6B708D;
    font-weight: 500;
    font-size: 25px;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    padding: 5px 35px;
  }
  .nav a:hover{
      color:#072AC8;
  }

  .contact-button {
    padding: 5px, 5px;
    height: 65px;
    display: flex;
    align-self: left;
    margin-top: 20px;
 
  }
  .button {
    background: #072AC8;
    border: none;
    border-radius: 3%;
    padding: 2px 32px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
   
  }
  .button a{
    color: white;
    text-decoration: none;
    font-size: 21px;
    padding: 30px;

  }

/* Homepage */


.hero-section{
    display:flex;
    flex-direction: row;
    align-content: space-between;
    height: 1040px;
}

.hero-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height:auto;
    margin-top: 30px;
}
.content{
    display: block;
    padding: 82px 10px 0px 120px;
    width: 45%;
    margin-left: 90px;
}

.main-title h1 {
    
    font-size: 70px;
    font-weight: bold;
}
.main-title p{
    font-size: 25px;
    line-height: 30px;
    color:#6B708D;
    padding-top: 40px;

}
.bottom-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    padding-top: 5%;
   

}
.bottom-part button {
    padding: 5px 0px 5px 40px;
    height: 70px;
    background: #072AC8;
    border: none;
    border-radius: 3%;
    display: inline-block;
    width: 100%;
    text-align: center;
}

  .bottom-part a{
      text-decoration: none;
      font-size: 24px;
      font-weight:bold;
      color:#514D67;
      padding-right: 60px;
  }

.bottom-part button a{
    font-size: 24px;
    font-weight:normal;
    color: white;
    text-decoration: none;
    text-align: center;
  } 

 .hero-img{
    width: 80%; 
    height: 600px;
    position:relative;
}

.hero-img #guy {
    width: 98%;
    height: 907px;
    object-fit: contain;
}
 .hero-img #card-one  {
    position: absolute;
    top: -25px;
    left: 0px;
    width: 40%;
    
}
 .hero-img #card-two  {
    position: absolute;
    bottom: -500px;
    right: 0px;
    width: 38%;
}
/*clients*/
.client-section {
    width: 90%;
    margin: 40px 40px;
}
.client-section .container{
    display: flex;
    justify-items: center;
    align-content: space-around;
    margin: 9px 40px;
    padding: 80px 20px 30px 100px;
}

.client-section #img-client {
    width: 100%;
}

.client-section img{
    width: 50%;
}

/*Projects*/
.projects-section .container { 
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 10%;
}

/* .cards-wrapper { 
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px 0%; */
    

.projects {
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    padding: 100px 0%;
    border-color: red;
}

.projects #img1 {
    display: inline-block;
    object-fit: cover; 
    border-color: darkmagenta;
    width: 60%;
    height: 50%;
    padding-bottom: 100px;  
   } 

.projects h1{
    font-size: 50px;
    padding-left: 200px;
}
.projectCards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 60px 2px 60px 10px;
    
}
.card{
    width: 22%;
    height: 480px;
    background-color: white;
    
}
.card-img{
    width: 100%;
    height: 240px;
    object-fit: cover;
}
.card-content{
    background-color: white;
    padding: 16px;
}
.pCard{
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 400;
}

.pCard h2{
    font-size:24px;
    line-height: 110%;
    font-weight: 500;
}

.card-content a{
    color:#072AC8;
    text-decoration: none;
    cursor:pointer;
}

/*Testimonials*/

.testimonial-section{
    margin-left: 5%;
}
.testimonial-section .container{
    background-image: url("project-assets/testimonial-section/orbit.png");
    background-color: #292E47;
    width: 80%;
    height: 600px; 
    margin: 8px 75px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 80px;
}

.memojis-top img {
    width: 15%;
    position: absolute;
}

.memojis-bottom img {
    width: 15%;
    position: absolute;
}
.subtitle{
   

    padding-top: 170px;
    text-align: center;
    text-justify: inter-word;
}
.subtitle h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    color: #F4F6FC;
}

#quote p {
    font-size: 23px;
    font-weight: 500;
    line-height: 25px;
    color: #FFC600;
}

#cl-info {
    display: flex;
    flex-direction: row;
    width: 55%;
    line-height: 20px;
    padding: 72px 65px 7px 460px;
    justify-content: center;
}

#cl-name {
    display: flex;
    flex-direction: column;
    width: 25%;
    line-height: 7px;
    padding-top: 45px;
    color: #A2D6F9;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}
#cl-name a{
    color:#F4F6FC;
    text-decoration: none;
    font-size: smaller;
}
#cl-info img{
    width: 15%;
    padding: 50px 20px;
    border-radius: 50%;
}

.memojis-top #img-one {
    position: absolute;
    width: 12%;
    top: 50px;
    left: -2px;

}
.memojis-top #img-two {
    position: absolute;
    width: 12%;
    top: 50px;
    right: 20px;

}
.memojis-bottom #img-three {
    position: absolute;
    width: 12%;
    bottom: 30px;
    left: 15px;
   
}

.memojis-bottom #img-four {
    position: absolute;
    width: 12%;
    bottom: 30px;
    right: 15px;
}

/*Services*/

.services-section {
    height: 610px;
    width: 80%;
    margin: 130px 8%;
}


 .services-section .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        align-content: center;
        padding: 30px 20px;
        width: 100%;
        height: 300px;
        margin: 10px;
        background-color: #FFFFFF;
} 

.services-section  h3{
    padding-left: 20px;
    font-weight: 700;
    font-size: 50px;
}
.service img{
  width: 50px;
  background-color: #D1EDFF;
  /*background-position:;*/
  background-repeat:no-repeat;
  border-radius: 50%;
  line-height: 30px;

}

.service-card {
    background-color: white;
    width: 25%;
    padding: 40px;
    height: 426px;

}
.icon-container{
    width: 80px;
    height:80px;
    background-color: #ecf7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 30px;
}
.icon-container img{
    width: 100%;
}

.service-card h2{
    padding-top: 80px;
    font-size: 30px;
}
.service-card-wrapper{
    display: flex;
    justify-content: space-between;
    height:400px;
    padding: 50px 30px;
}
.service-card a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:#072AC8;
}
.service-card p{
    font-size: 20px;
}
/*cta*/
.cta-section .container {
    display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
        margin-left: 70px;
        width: 90%;
        height: 500px;
        background-color: #FFC600;
        
}

.cta-section h1{
    font-size: 55px;
    text-align: center;
    padding-top: 80px;
    color: #292e47;

}

.cta-section p{
    color:#6B708D;
    font-size: 25px;
    text-align: center;
    
}

.cta-section form #email {
    width: 150%;
    background-color: white;
    font-size:20px;
    color:#292E47;
    padding-left: 10px;

}

.labels-wrapper {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    width: 100%;
   
}

.email-space {
    border-radius: 3%;
    text-align: center;
    font-size: 20px;
    width: 180%;
    padding-left: 220px;
}
.submit-space {
    width: 75%;
    background: #072AC8;
    border: none;
    border-radius: 3%;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
   
}

.labels-wrapper #email-icon {
    background-image: url("https://uploads-ssl.webflow.com/61f7ff5634c23c5bef9d2e54/61f800bdf78ad83daac42661_Mail.svg");

}
/* .labels-wrapper form input [type=email]{
    background-color: white;
    font-size:20px;
    color:#292E47;
    width: 50%;
    padding-left: 10px; */

.labels-wrapper form input[type=submit]{
    background: #072AC8;
    color:#FFFFFF;
    font-size: 20px;
    padding: 5px, 5px;
    height: 85px;
    width: 100%;
}


/* form input[type=submit] {
    width:100%;
} */
/* display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
}
.email-container {
width: 60%;
}

.phone-container{
width: 35%; */

/*FOOTER*/

.footer {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:auto;
    padding: 30px 10%;

}
.footer-left {
    padding-left: 10px;
}
.footer .logo{
        display: flex;
        height: auto;
        width: 50%;
        padding-bottom: 15px;
        margin-top: 30px;
}

.footer p{
    font-size: 17px;
}
.footer #links {
    width: 55%;
    justify-content: space-around;
    align-items:stretch;
    padding: 10px;


}
.footer #links a{
    text-decoration: none;
    color:#6B708D;
    font-size: 20px;
    color:#072AC8;
}

.top-row, .bottom-row{
    justify-content:space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 25px 15px;
}

.top-row a, .bottom-row a{
    text-align: justify;
    text-justify: inter-word;
    padding: 5px 50px;
}


/*projects page*/
.description {
    height: 20%;
    width: 80%;
    margin-left: 8%;
    padding: 25px; 

}

.page-title{
  display: flex;
   align-items: flex-end; 
   justify-content: space-between;
   font-size: 23px;

}
.page-title h1{
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
}

.simplify-case {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}
.simplify-wrapper{
    min-height: 100px;
    min-width: 500px;
}

.patterns{
    width: 100%;
    height: 500px;
    object-fit: cover;
    box-shadow: rgb(196, 65, 196) 0px 10px 35px;
}
.long-paragraph{
    padding: 16px;
    font-size: 22px;
    text-justify: distribute;
}
/*.pCard{
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 400;
}*/
    


/*contacts page*/

.form-container {
    width: 82%;
    height: auto;
    padding: 75px 110px 75px;
    margin: inherit;
    /*margin-right: ;*/
    font-size: 2rem;
}

#title{
    font-size:35px;
    font-weight: 700;
    line-height: 70px;
}
form label {
    position: relative;
    display: block;
    padding: 20px 15px;
    font-size: 1.5rem;
    color:#6B708D;
    
}
form input {
    background-color:rgba(107, 112, 141, 0.1);
    width: 1100px;
    height: 90px;
    box-sizing: border-box;
    border-style: none;
    padding-right: 76px;
    font-size: 20px;
}
form input [type=text]{
    padding: 12px 30px;
}
form input [type=number]{
    padding: 12px 30px;
}

form input[type=submit] {
    background-color:#072AC8;
    color: white;
    text-align: center;
    width: 100%;
}

/*label::after {
    content: '.' attr(data-domain);
    position: absolute;
    top: 4px;
    left: 96px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: block;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}*/

.third-row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.email-container {
    width: 60%;
}

.phone-container{
    width: 35%;
}
.email-container #email {
     width: 100%;
     background-color:rgba(107, 112, 141, 0.1);
}

#phone {
    width: 100%;
    padding:12px 20px; 
}

#fname {
    width: 100%;
    padding:12px 15px;
}

#message {
    width: 100%;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: none;
  }

/*MOBILE RESPONSIVENESS*/

@media (max-width: 415px) { 
main {
    display: flex;
    flex-direction: column;
    padding: 0;
}
/*MOBILE-header*/
 header{
    padding: 0px 10px; 
 }
 .header{
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 24px;
 }   
.menu { 
    display: none;
  }

.contact-button{
    display: none;
}
.burgerMenuShow{
    display: inline-block !important ;
}
.logo { 
    width: 64px;
    margin-top: 0px;
  }

  /*MOBILE-hero-section*/

.hero-container {
   padding: 0px;
   flex-direction: column;
   position: absolute;
   
}
.content{
    padding: 0px;
    width: 100%;
    posiition: absolute;
}
.main-title h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}
.main-title p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 24px;
}

.bottom-part{
    flex-direction: column;
    padding: 0px;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.bottom-part-link a{
    text-align: center;
    width: 100%;
    display: block;

}
.bottom-part button a{
    font-size: 14px;
}

.bottom-part a{
    font-size: 18px;
}  

.hero-img {
    width: 100%;
       
}

.hero-img-guy{
    width: 100%;
}
.hero-img #card-one, .hero-img #card-two  {
    display: none;
}
.hero-section h1{
    font-size: 35px;      
  }
  .hero-section{
    height: 750px; 
  }
  
  .hero-img #guy {
    width: 80%;
    height: 309px;
    object-fit: contain;
    margin: auto;
    display: block;
  }
  .content{
    margin-left: 0;
  }
  .bottom-part-link{
    width: 100%;
  }
  .bottom-part-link a {
    text-align: center;
    width: 80%;
    display: block;
    margin-left: 10%;
  }
  
  .bottom-part-get-touch {
    width: 100%;
  }
  .bottom-part-get-touch button{
    width: 60%;
    margin-left: 20%;
    margin-top: 14px;
  }
  .bottom-part-get-touch button a{
    text-align: center;
    font-size: 21px;
    display: block;
  }

/*MOBILE-clients-section*/
.client-section .container{
  padding: 0;
  margin-top: 60px;
  width:100%;
  position: relative;
} 
.client-section #img-client {
  width: 45%;
  padding: 10px 40px;
  flex-wrap: wrap;

}

.client-section #microsoft-icon{
  display: none;
}
.container {
  width: 100%;
  flex-wrap: wrap;
}
.client-section{
  width: 100%;
  margin: 20px 70px;
}

/* MOBILE - Projects-section */
.projects {
  flex-direction: column;
  padding: 0;
}

.projects h1{
  font-size: 28px;
  /* margin-top: 190px; */
  padding-left: 30px;
  width: 100%;
}

.projectCards{
  flex-direction: column;
  padding-top: 30px;

}

.card {
  width: 90%;
  margin-left: 2%;
  margin-bottom: 20px;
  height: 80%;
}

/*MOBILE-Testimonials*/

.testimonial-section .container{
 width: 100%;
 margin: 0;
 padding: 0;
 height: auto;
 position: relative;
}
.memojis-top img, .memojis-bottom img{ 
  display: none;
}

#cl-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 45px;
  justify-content: center;
}

#cl-name {
 width: 100%;
  line-height: 0px;
  padding-top: 45px; 
}

.subtitle {
  text-align: center;
  padding-top: 0;
  height: 150px;
}
.subtitle h2{
  font-size: 30px;
  width: 80%;
  padding: 15px 0px 0px 6px;
}
#quote {
  text-align: center;
  width: 90%;
  padding: 0px 10px 0px 10px;

}
#quote p{
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  /* color: #FFC600; */
}

/*MOBILE-Services*/



.services-section{
    flex-direction: column;
    padding-top: 50px;
    margin: 0;
    position: relative;
}
.services-section h3{
    font-size: 28px;
    padding-bottom: 25px;
}

.service-card-wrapper {
  flex-direction: column;
  padding: 0;
  height:auto;
}
.service-card {
    width: 89%;
    margin-left: 2%;
    margin-bottom: 20px;
    height:auto;
    
}
.service-card h2{
    padding-top:22px;
    font-size:21px;
}

.service-card p{
    font-size: 18px;
}
.service-card a {
    font-size:18px;
    font-weight:normal;
}


/*MOBILE-CTA Section*/

.cta-section{
    position: relative;
}
.cta-section .container {
    margin: 0;
    height: 395px; 
    width: 100%;
}

.cta-section h1{
    font-size: 30px;
    text-align:left;
    padding: 68px 19px 5px 21px; 
}

.cta-section p{
    font-size:20px;
    text-align: none;
    padding-left: 20px;
}

.labels-wrapper {
    padding: 0;
    flex-direction:column;
}
.cta-section #email {
    height: 75px;
    width: 0%;
    font-size: 16px;
    text-align: center;
    /* height: 70px;
    width: 76%;
    font-size: 16px;
    text-align: center; */
}

.labels-wrapper #submit{
    width: 100%;
    
}
.labels-wrapper input[type=submit]{
    height: 63px;
    width: 85%;
}

.cta-section form input [type=submit]{
    background-color: #072AC8;
    color: white;
    width: 94%;
    margin-top: 10px;
}


/*MOBILE-footer*/

.footer {
    padding: 80px 26%;
    display: block;
    position: relative;

}
.footer #links {
  display: flex;
  padding: 0;

}
.footer #links a {
    font-size: 16px;
}

.footer .top-row, .bottom-row{
    padding: 19px 0;
}

 .bottom-row a{
    font-size: 20px;
}

}






      
  








