
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
 
html {
font-family: 'Roboto', sans-serif;
background: #F4F6FC;
/*font-weight: bold;*/
color: #514D67;
margin: 0; 
padding: 0;
}

body{
    padding: 0px 50px;
}

h1{
    color: #292E47;
}


.header { 
    width: 100%;
    display: flex;
    justify-content: space-around;
    height:auto;
    margin-bottom: 50px;
  }
  .logo { 
    height: auto;
    width: 8%;
    display: flex;
    margin-top: 10px;
    
  }
 .logo img {
width:100%;
 }
  .menu { 
    height: auto;
    display: flex;
    /*align-content: center;
    /*align-items: flex-end;*/
    justify-content: space-between;
    align-content: space-between;
  }

  .nav{
    margin-top: 30px;
  }
  .nav a {
    height: 40px;
    display: inline-flex;
    text-decoration: none;
    color: #6B708D;
    font-size: 21px;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    padding: 5px 35px;
  }
  .nav a:hover{
      color:#072AC8;
  }

  .contact-button {
    padding: 5px, 5px;
    height: 40px;
    display: flex;
    align-self: left;
    margin-top: 20px;
 
  }
  .button {
    background: #072AC8;
    border: none;
    border-radius: 3%;
    padding: 2px 32px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
   
  }
  .button a{
    color: white;
    text-decoration: none;
    font-size: 21px;

  }

/* Homepage */


.hero-section{
    display:flex;
    flex-direction: row;
    align-content: space-between;
}

.hero-container {

    width: 93%;
    display: flex;
    justify-content: space-between;
    height:auto;
    margin-top: 30px;
    
}
.hero-container .content {
    display: block;
    padding: 52px 20px 0px 200px;
    width: 75%;
}

.main-title h1 {
    line-height: 70px;
    font-size: 70px;
    font-weight: bold;
}
.main-title p{
    font-size: 24px;
    line-height: 30px;
    color:#6B708D;

}
.bottom-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:80%;
   
    padding: 30px 80px 5px 5px;
    

}
.bottom-part button {
    padding: 5px 5px;
    height: 40px;
    background: #072AC8;
    border: none;
    border-radius: 3%;
    text-align: center;
    display: inline-block;
    
}
.bottom-part button a{
    font-size: 20px;
    color: white;
    text-decoration: none;
  }

  .bottom-part a{
      text-decoration: none;
      font-size: 21px;
      color:#514D67;
  }


 .hero-img{
    width: 80%; 
    height: 600px;
    position:relative;
}
 .hero-img #guy  {
    width: 98%;
}
 .hero-img #card-one  {
    position: absolute;
    top: -25px;
    left: -80px;
    width: 48%;
    
}
 .hero-img #card-two  {
    position: absolute;
    bottom: -230px;
    right: -110px;
    width: 44%;
}
/*clients*/
.client-section .container{
    display: flex;
    justify-content: space-between;
    margin: 110px 0px;
    padding: 250px 40px 30px 150px;
}

.client-section #img-client {
    width: 100%;
}

/*Projects*/
/* .projects-section .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 10%;
}

.cards-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px 0%;
    
}

.projects {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding: 30px 0%;
    border-color: red;
}

.projects #img1 {
    display: inline-block;
    object-fit: cover; 
    border-color: darkmagenta;
    width: 50%;
    height: 50%;
    padding-bottom: 100px;
    
   } */
.projects{
    margin: 100px 0px;
    padding-top: 40px;
}

.projects h1{
    font-size: 30px;
    padding-left: 200px;
}
.projectCards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}
.card{
    min-height: 400px;
    min-width: 350px;
    background-color: white;
}
.card-img{
    width: 100%;
    height: 240px;
    object-fit: cover;
}
.card-content{
    background-color: white;
    padding: 16px;
}
.pCard{
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 400;
}

.pCard h2{
    font-size:24px;
    line-height: 110%;
    font-weight: 500;
}

.card-content a{
    color:#072AC8;
    text-decoration: none;
    cursor:pointer;
}

/*Testimonials*/

.testimonial-section .container{
    background-image: url("project-assets/testimonial-section/orbit.png");
    background-color: #292E47;
    width: 80%;
    height: 600px; 
    margin: 8px 75px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 80px;
}

.memojis-top img {
    width: 15%;
    position: absolute;
}

.memojis-bottom img {
    width: 15%;
    position: absolute;
}
.subtitle{
   

    padding-top: 170px;
    text-align: center;
    text-justify: inter-word;
}
.subtitle h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    color: #F4F6FC;
}

#quote p {
    font-size: 23px;
    font-weight: 500;
    line-height: 25px;
    color: #FFC600;
}

#cl-info {
    display: flex;
    flex-direction: row;
    width: 55%;
    line-height: 20px;
    padding: 72px 65px 7px 460px;
    justify-content: center;
}

#cl-name {
    display: flex;
    flex-direction: column;
    width: 25%;
    line-height: 7px;
    padding-top: 45px;
    color: #A2D6F9;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}
#cl-name a{
    color:#F4F6FC;
    text-decoration: none;
    font-size: smaller;
}
#cl-info img{
    width: 15%;
    padding: 50px 20px;
    border-radius: 50%;
}

.memojis-top #img-one {
    position: absolute;
    width: 12%;
    top: 50px;
    left: -2px;

}
.memojis-top #img-two {
    position: absolute;
    width: 12%;
    top: 50px;
    right: 20px;

}
.memojis-bottom #img-three {
    position: absolute;
    width: 12%;
    bottom: 30px;
    left: 15px;
   
}

.memojis-bottom #img-four {
    position: absolute;
    width: 12%;
    bottom: 30px;
    right: 15px;
}

/*Services*/

.services-section {
    margin: 100px 40px;
    padding: 70px;
    
    height: 400px;
   
}
/* .services-section {
    margin: 100px 40px;
    padding-left: 30px;
    padding-top: 5%;
    height: 400px;
} */
.services-section  h3{
    padding-left: 20px;
    font-weight: 700;
    font-size: 30px;
}
.services-section .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        align-content: center;
        padding: 30px 20px;
        width: 100%;
        height: 100%;
        margin: 10px;
        background-color: #FFFFFF;
}

.services {
    display: inline-block;
    width: 75%;
    font-weight: 400;
    font-size: 14px;
    Line-height: 30px;
    
   
}

.services .mini-title {
    font-weight: 500;
    font-size: 20px;
    Line-height: 28px;
}


.services img{
  width: 50px;
  background-color: #D1EDFF;
  background-position:;
  background-repeat:no-repeat;
  border-radius: 50%;
  line-height: 30px;

}

.service-card {
    background-color: white;
    max-width: 350px;
    padding: 40px;

}
.icon-container{
    width: 80px;
    height:80px;
    background-color: #ecf7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.service-card h2{
    padding-top: 80px;
}
.service-card-wrapper{
    display: flex;
    justify-content: space-between;
    height:400px;
    padding-top: 50px;
}
.service-card a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color:#072AC8;
}

/*cta*/
.cta-section .container {
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        align-content: center;
        margin: 270px 100px 130px 100px;
        width: 90%;
        height: 430px;
        background-color: #FFC600;
}

.cta-section h3 {
    font-size: 40px;
    text-align: center;
    padding-top: 80px;

}

.cta-section p{
    color:#6B708D;
    font-size: 25px;
    text-align: center;
    
}

.labels-wrapper {
    display: flex;  
    justify-content: space-between;
    padding: 0px 50px;
    width: 40%;
    height: 80px;
   background-color: #FFC600;
    color: #292e47;
    padding-bottom: 60px;
}

#email {
    height: 85px;
    width: 300px;
    font-size: 20px;
    background-color: #ecf7ff;
    color:#292e47;
    border-style: none;
    padding-left: 10px;
   
    

}
.labels-wrapper #submit {
    padding: 5px, 5px;
    height: 85px;
    width: 100%;
    background: #072AC8;
    border: none;
    border-radius: 3%;
    text-align: center;
    color:#FFFFFF;
    font-size: 20px;
    display: inline-block;
   
}

.labels-wrapper #email-icon {
    background-image: url("https://uploads-ssl.webflow.com/61f7ff5634c23c5bef9d2e54/61f800bdf78ad83daac42661_Mail.svg");

}

#submit input{
    background: #072AC8;
    color:#FFFFFF;
    font-size: 20px;
    padding: 5px, 5px;
    height: 85px;
    width: 100%;
}
    

/*FOOTER*/

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:auto;
    padding: 30px 10%;

}
.footer-left {
    padding-left: 10px;
}
.footer .logo{
        display: flex;
        height: auto;
        width: 50%;
        padding-bottom: 15px;
        margin-top: 30px;
}

.footer p{
    font-size: 17px;
}
.footer #links {
    width: 55%;
    justify-content: space-around;
    align-items:stretch;
    padding: 10px;


}
.footer #links a{
    text-decoration: none;
    color:#6B708D;
    font-size: 20px;
    color:#072AC8;
}

.top-row, .bottom-row{
    justify-content:space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 25px 15px;
}

.top-row a, .bottom-row a{
    text-align: justify;
    text-justify: inter-word;
    padding: 5px 50px;
}


/*projects page*/
.description {
    height: 20%;
    width: 80%;
    margin-left: 8%;
    padding: 25px; 

}

.page-title{
  display: flex;
   align-items: flex-end; 
   justify-content: space-between;
   font-size: 23px;

}
.page-title h1{
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
}

.simplify-case {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}
.simplify-wrapper{
    min-height: 100px;
    min-width: 500px;
}

.patterns{
    max-width: 100%;
    max-height: 20%;
    object-fit: cover;
    
}
.long-paragraph{
    padding: 16px;
    font-size: 1.5rem;
    text-justify: distribute;
}
/*.pCard{
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 400;
}*/
    


/*contacts page*/

.form-container {
    width: 82%;
    height: auto;
    padding: 75px 110px 75px;
    margin: inherit;
    margin-right: ;
    font-size: 2rem;
}

#title{
    font-size:35px;
    font-weight: 700;
    line-height: 70px;
}
form label {
    position: relative;
    display: block;
    padding: 20px 15px;
    font-size: 1.5rem;
    color:#6B708D;
    
}
form input {
    background-color:rgba(107, 112, 141, 0.1);
    width: 1100px;
    height: 90px;
    box-sizing: border-box;
    border-style: none;
    padding-right: 76px;
    font-size: 20px;
}
form input [type=text]{
    padding: 12px 30px;
}
form input [type=number]{
    padding: 12px 30px;
}

form input[type=submit] {
    background-color:#072AC8;
    color: white;
    text-align: center;
    width: 100%;
}

/*label::after {
    content: '.' attr(data-domain);
    position: absolute;
    top: 4px;
    left: 96px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: block;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}*/

.third-row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.email-container {
    width: 60%;
}

.phone-container{
    width: 35%;
}
.email-container #email {
     width: 100%;
     background-color:rgba(107, 112, 141, 0.1);
}

#phone {
    width: 100%;
    padding:12px 20px; 
}

#fname {
    width: 100%;
    padding:12px 15px;
}

#message {
    width: 100%;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: none;
  }

